extends layout



block content

  

  //- div(id="like_button_container")
  //- Load our React component.
  //- script(src="dist/likeButton.bundle.js")

  //- div(id="algoAccountConnectFormComponent")
  //- script(src="dist/algoAccountConnectFormComponent.bundle.js")
  div(id="algoSignerComponent")
  script(src="dist/AlgoSignerComponent.bundle.js")

